<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M&A value app</title>
</head>
<body>
   <h1>Market and Auction value check app</h1>

    <h2>Search</h2>
    <h3>Input an ID and year:</h3>
    <form action="/search" method="POST">
      <label>ID
        <input type="text" name="id">
      </label>
      <label>Year
        <input type="text" name="year">
      </label>
      <button type="submit">Submit</button>
    </form>
    <h3>Results:</h3>
    {% if msg=='incomplete' %}
        <p>ID or Year not filled<p>
    {% elif msg=='id_404' %}
        <p>ID not found on database<p>
    {% elif msg=='year_404' %}
        <p>Year not found on database<p>
    {% elif results %}
       <p>Market calculated value: {{results.calculated_market}}<p>
       <p>Auction calculated value: {{results.calculated_auction}}<p>
    {% endif %}
</body>
</html>